/* DADDY BODY*/
body {
	background-color: #e7e7e7;
}

.body {
	background-image: url(../images/header.jpg);
}

.content {
	padding: 50px;
}
/* DADDY BODY*/


/* BANNER */
.banner {
	color: #fff;
	background-image: url(../images/header.jpg);
	background-repeat: none;
	background-position: center;
	background-size: cover;
	min-height: 100vh;
}

.header {
	min-height: 180px;
}

.nav-link {
	color: #fff;
	font-size: 25px;
	font-weight: 400;
}
.send-pm, .about-us {
	font-family: 'Kirang Haerang', cursive;
}
label {
	font-family: 'Kirang Haerang', cursive;
}

.form-label {
	margin-left: 20px;
	font-size: 25px;
}

.nav-contacts {
	color: #000;
	font-size: 25px;
	font-weight: 400;
}

.nav-link:hover {
	background-color: rgb(0,0,0,0.5);
	color: #fff;
}
/* BANNER */

/* EFFECTS */
.item-name:hover {
	background-color: rgba(0,0,0,0.5);
	font-size: 70rem;
	transition: ease-in 0.7s ease-out 0.7s;
}

.intro h1:hover {
	font-size: 7rem;
	transition: ease-in 1s ease-out 1s;
}

.carousel-caption:hover {
	background-color: rgba(0,0,0,0.5);
	transition: ease-in 0.7s ease-out 0.7s;
}

.menu h1:hover{
	font-size: 70px;
	transition: ease-in 0.7s ease-out 0.7s;
}

.pointer {
	cursor: pointer;
}

a {
	text-decoration: none;
	color: #000;
}

.burger:hover {
	background-color: rgba(0,0,0,0.7);
	transition: ease-in 0.7s ease-out 0.7s;
}
/* EFFECTS */

/* BANNER CONTENT */
.intro h3 {
	font-family: 'Kirang Haerang', cursive;
	font-weight: 400;
	font-size: 3.5rem;
	align-self: center;
}

.intro h1 {
	font-family: 'Kirang Haerang', cursive;
	font-weight: 300;
	font-size: 6.5rem;
	text-transform: uppercase;
	align-self: center;
}



.feature-prod {
	margin-top: 150px;
}

.contents {
	color: #fff;
}
/* BANNER CONTENT */


/* ROW CONTENTS */
.r1-c1 {
	background-position: center;
	background-size: cover;
	background-image: url(../images/header1.jpg);
	min-height: 450px;
}

.r1-c2 {
	background-position: center;
	background-size: cover;
	background-image: url(../images/header2.jpg);
	min-height: 450px;
}

.row-title-1, .row-title-2 {
	padding-top: 25px;
	margin: 25px;
	font-family: 'Kirang Haerang', cursive;
}

.row-title-3 {
	padding-top: 25px;
	padding: 25px;
	font-family: 'Kirang Haerang', cursive;
}

.r2-c1 {
	background-position: center;
	background-size: cover;
	background-image: url(../images/row2col2.jpg);
	min-height: 450px;
}
.carousel-caption h3{
	font-size: 3.5rem;
}


p{
	font-size: 1.5rem;
}



.third-row {
	padding-top: 200px;
}

.selects {
	margin-top: 50px;
	text-align: center;
}

.menu {
	min-height: 250px;
	font-family: 'Kirang Haerang', cursive;
	cursor: pointer;
}

.menu h1 {
	align-self: center;
	font-size: 50px;
}

/* ROW CONTENTS */

/* FOOTER */
ul {
	color: #fff;
	list-style-type: none;
	display: inline-flex;
}

li svg {
	margin: 15px;
	height: 30px;
	width: 30px;
	cursor: pointer;
}

footer h1 {
	font-weight: 500;
}

footer span {
	font-size: 20px;
	font-weight: 400;
}

/* FOOTER */